*{
    margin: 0;
    padding: 0;
}

.container{
    font-family: 'Lucida Sans', sans-serif;
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-areas:
    'header header header header'
    'sidebar main main main'
    'sidebar main main main'
    'sidebar main main main'
    'footer footer footer footer'
    
    ;
}

.header{
    background-color: wheat;
    grid-area: header;
}

.sidebar{
    background-color: black;
    grid-area: sidebar;
}

.main{
    background-color: blueviolet;
    grid-area: main;
}

.footer{
    background-color: gray;
    grid-area: footer;
}