.parent {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cell {
    width: 25%;
    border: solid 1px black;
}
.cell.sudan {
    background: black;
}