.parent {
    width: 100%;
    height: 100vh;
}
.bg {
    background-image: url(bg.jpg);
    width: 200%;
    height: 150vh;
    background-size: cover;
}
.boxp {
    width: 800px;
    height: 600px;
}
.box {
    background-color: lightgray;
    width: 900px;
    height: 400px;
    margin-top: -90%;
    margin-left: 0.7cm;
    border-radius: 30px;
    box-shadow: 10px 10px 10px black;
}
.kbparent {
    width: 200px;
    height: 200px;
    margin-top: -35.5%;
    margin-left: 2cm;
    display: flex;
}
.kbp2 {
    width: 400px;
    height: 200px;
    margin-top: -2.3cm;
    margin-left: 12.8cm;
}
.text {
    font-family: cursive;
    margin-top: -9cm;
    margin-left: 1.5cm;
}
.boxp2 {
    width: 800px;
    height: 600px;
}
.box2 {
    background-color: lightgray;
    width: 900px;
    height: 190px;
    margin-top: 40%;
    margin-left: 0.7cm;
    border-radius: 30px;
    box-shadow: 10px 10px 10px black;
}
.text2 {
    margin-top: -15.5cm;
    margin-left: 1.5cm;
    font-family: cursive;
}
p {
    margin-left: 1.5cm;
}
.buttonparent {
    background-color: red;
    padding: 15px;
    border-radius: 30px;
    font-family: cursive;
    font-size: 20px;
    width: 5.4cm;
    margin-left: 1.2cm;
}
.button {
    color: white;
    text-decoration: none
}
.button:hover {
    opacity: 0.5;
}