h1 {
color: red;
font-size: xx-large;
margin: 1px;
font-family: sans-serif;
}
h2 {
    color: red;
    font-size: xx-large;
    margin: 1px;
    font-family: sans-serif;
    }
    h3 {
        color: red;
        font-size: xx-large;
        margin: 1px;
        font-family: sans-serif;
        }
        h4 {
            color: red;
            font-size: xx-large;
            margin: 1px;
            font-family: sans-serif;
            }
            h5 {
                color: red;
                font-size: xx-large;
                margin: 1px;
                font-family: sans-serif;
                }
                h6 {
                    color: red;
                    font-size: xx-large;
                    margin: 1px;
                    font-family: sans-serif;
                    }
