.parent {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#tid {
    font-size: 5rem;
    font-family: monospace;
}
#knapp {
    width: 100px;
    height: 50px;
}

body {
    margin: 0px;
}